.cProducts {
  overflow: hidden;
}
.cProducts .water {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
	transform: translate(0, 100%);
  background: rgb( 82, 91, 92);
}
 
.cProducts .water_wave {
  width: 200%;
  position: absolute;
  bottom: 100%;
 
}
 
.cProducts .water_wave_back {
  right: 0;
  fill: rgb( 220, 220, 220);;
	animation: wave-back 1.4s infinite linear;
}
 
.cProducts .water_wave_front {
  left: 0;
  fill: rgb( 82, 91, 92);
  margin-bottom: -1px;
	animation: wave-front .7s infinite linear;
}
@-webkit-keyframes wave-front {
  100% {
		transform: translate(-50%, 0);
  }
}
@keyframes wave-front {
  100% {
		transform: translate(-50%, 0);
  }
}
@-webkit-keyframes wave-back {
  100% {
    transform: translate(50%, 0);
  }
}
@keyframes wave-back {
	100% {
		transform: translate(50%, 0);
  }
 
}
.water1{
    transform: translate(0px,90%) !important;
}
.water2{
    transform: translate(0px,80%) !important;
}
.water3{
    transform: translate(0px,70%) !important;
}
.water4{
    transform: translate(0px,30%) !important;
}
.water5{
    transform: translate(0px,15%) !important;
}